/* min-height:1000px  and min-width:700px */

@media screen and  (min-height:900px) and (min-width:700px) {

    *::-webkit-scrollbar {
        width: 16px;
        border-radius: 2em;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 2em;
    }

    *::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 2em;
        border: 3px solid #ffffff;

    }

    /* -----------------------Header--------------- */
    body{
        max-width: 100%;
        width: 100%;
    }
    .header .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }

    .header .menu {
        justify-content: end;
    }

    .header .menu .button {
        width: 8em;
        font-size: 1.1em;
        border: 3px solid black;
    }

    /* ---------------------END-Header------------- */

    /* ---------------------MAIN------------------- */
    .main .product .product-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main .product .product-title h1 {
        font-size: 3.5em;
        width: 45%;
    }

    .main .product .product-title h1:hover {
        font-size: 4em;
        text-shadow: 5px 5px 8px black;
    }

    .main .product .image img {
        border-radius: 2em;
        width: 19em;
        height: 18em;
        box-shadow: 2px 3px 6px white;
    }

    .main .product .infos .ingredients,
    .main .product .infos .flavors,
    .main .product .infos .ingredients .div-ingredients,
    .main .product .infos .flavors .div-flavors,
    .main .product .infos .ingredients .div-ingredients button,
    .main .product .infos .flavors .div-flavors button {
        height: 8em;
        width: 12em;
        border-radius: 5em;
    }

    .main .text {
        width: 50%;
        height: 40%;
        top: 12em;
    }

    .main .infos .text .description {
        border-radius: 2em .5em .5em 2em;
    }

    .main .product .infos .flavors .sub-flavors {
        width: 65%;
        height: 35%;
        bottom: 20em;
        flex-wrap: wrap;
        font-size: 1.1em;
    }

    .main .product .infos .flavors .sub-flavors .btn-choose {
        padding: 1em;
        width: 12em;
    }

    .main .product .infos .flavors .sub-flavors .btn-choose:hover {
        padding: 1.6em;
        border: 3px solid white;
    }

    .main .product .sub-text button {
        padding: 2em;
        width: 350px;
    }

    .main .social .nav-social .list-social li:hover {
        padding: 1.5em;
        width: 5em;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

/* -----------------End-main------------------- */

@media screen and (min-width:1000px) {
    .main .product .product-title {
        display: flex;
        align-items: start;
        justify-content: center;
        height: 20%;
    }

    .main .product .product-title h1 {
        font-size: 4em;
        width: 45%;
    }

    .main .product .product-title h1:hover {
        font-size: 4.5em;
        text-shadow: 5px 5px 8px black;
    }

    .main .product .image img {
        border-radius: 1em;
        width: 22.5em;
        height: 22.5em;
        box-shadow: 2px 3px 6px white;
    }

    .main .product .infos .ingredients,
    .main .product .infos .flavors,
    .main .product .infos .ingredients .div-ingredients,
    .main .product .infos .flavors .div-flavors,
    .main .product .infos .ingredients .div-ingredients button,
    .main .product .infos .flavors .div-flavors button {
        height: 5em;
        width: 14em;
        border-radius: 5em;
    }

    .main .product .infos .flavors .sub-flavors {
        top: 17em;
        gap: 3px;
        flex-wrap: wrap;
        font-size: 1.2em;
    }

    .main .product .infos .flavors .sub-flavors .btn-choose {
        padding: 1em;
    }

    .main .product .infos .flavors .sub-flavors .btn-choose:hover {
        padding: 1.6em;
        border: 3px solid white;
    }

    .main .product .sub-text button {
        margin-bottom: 1em;
    }
}

@media screen and (min-width:1300px){
    .main .product .infos .flavors .sub-flavors{
        top: 17em;
        right: 6em;
        width: 50%;
    }
}

@media screen and (min-width:1500px){
    .main .product .infos .flavors .sub-flavors{
        width: 40%;
    }
}
